/* Styles pour la bannière fixe */
.banner {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  cursor: pointer;
  z-index: 1000;
}

/* Styles pour la barre de navigation */
nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 50px; /* Ajouté pour décaler la barre de navigation en dessous de la bannière */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Styles pour le contenu des onglets */
.content {
  display: none;
  padding: 20px;
}

.content.active {
  display: block;
}

body {
  padding-top: 60px; /* Ajustement pour ne pas masquer le contenu sous la bannière */
}
