/* Styles pour la barre de navigation */
nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* Styles pour le contenu des onglets */
.content {
  display: none;
  padding: 20px;
}

.content.active {
  display: block;
}


